/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

html, body {
  height: 100%;
}

/* body {
  padding-top: 50px;
  padding-top: 40px;
  padding-top: 58px;
} */

/* Prevents content from being blocked by navbar when you navigate to it */
/* #home:before, #footer:before */
*#about:before, *#projects:before, *#contact:before {
  display: block;
  content: " ";
  padding-top: 3.5rem;
  visibility: hidden;
  /* margin-top: -75px;
  height: 75px; */
}